apiVersion: v1
kind: Namespace
metadata:
     name: test
---
apiVersion: apps/v1
kind: Deployment
metadata:
     name: mavendeploymentrecreate
     namespace: test
spec:
     replicas: 2
     selector:
          matchLabels:
              app: maven
     strategy:
           type: Recreate
     template:
           metadata:
                  name: mavenpod
                  labels:
                       app: maven
           spec:
               containers:
                     - name: mavencontainer
                       image: sujanadevops/recreatedeployment:tag
                       ports:
                           - containerPort: 8080
                       resources:
                            request:
                                 cpu: 0.5
                                 memory: 500Mi
                            limits:
                                 cpu: 1
                                 memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
       name: mavenservice
       namespace: test
spec:
    selector:
         app: maven
    type: NodePort
    ports:
        - port: 80
          targetPort: 8080
          nodePort: 30095
